.hero-search-filter {
  background: url(../images/hero-background.jpg) center center no-repeat;
  height: 400px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}



.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}



.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
}


#cocktail-select {
  justify-content: center;
}

.card-holder {
    margin-top: 100px;
    justify-content: space-around;
};

.list-group {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
  }
  
  .list-group > :last-child {
    margin-bottom: 0;
  }
  
  .list-group-item {
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .list-group-item.active {
    color: #fefefe;
    background-color: #1779ba;
    border-color: 1px solid #1779ba;
  }
  
  .list-group-item:hover, .list-group-item:focus {
    background-color: #e6e6e6;
  }
  
  .list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
  }
  
  .list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #fefefe;
  }
  
  #fav-list .list-group-item {
    width: 33%;
  }

  .card {
  border: solid 3px var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

